{
  "root": true,
  "extends": "@mntm",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "capitalized-comments": "off",
    "multiline-comment-style": "off",
    "no-cond-assign": "off",
    "prefer-promise-reject-errors": "off",
    "line-comment-position": "off",
    "no-inline-comments": "off",
    "@typescript-eslint/promise-function-async": "off",
    "@typescript-eslint/no-throw-literal": "off",
    "@typescript-eslint/no-shadow": "off",
    "sonarjs/no-nested-template-literals": "off",
    "unicorn/require-post-message-target-origin": "off"
  }
}